name: Release / Build
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      # to debug this workflow
      - .github/workflows/release--build.yaml
      - .releaserc.yaml

permissions:
  contents: write
  pull-requests: write

jobs:
  get-next-version:
    uses: semantic-release-action/next-release-version/.github/workflows/next-release-version.yml@0cdefe1224944c23645e5131f7a5189672c0df92 # v4

  semantic-release:
    concurrency:
      group: ${{ github.workflow }}-semantic-release
    needs: get-next-version
    runs-on: ubuntu-latest
    if: needs.get-next-version.outputs.new-release-published == 'true'
    outputs:
      released: ${{ steps.semantic-release.outputs.new_release_published }}
      version: ${{ steps.semantic-release.outputs.new_release_version }}
      semver_major: ${{ steps.semantic-release.outputs.new_release_major_version }}
      semver_minor: ${{ steps.semantic-release.outputs.new_release_major_version }}.${{ steps.semantic-release.outputs.new_release_minor_version }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: EricCrosson/install-github-release-binary@d112ecda171fde1bf62a8603d5dfee1840ebe68a # v2
        with:
          targets: semantic-release-cargo/semantic-release-cargo@v2.2.96
      - run: semantic-release-cargo prepare ${{ needs.get-next-version.outputs.new-release-version }}
      - name: Check if Cargo.toml is already updated
        run: git diff --exit-code
      - id: gh-token-gen
        uses: oakcask/gh-token-gen@d65c585678cb39f009f96046d788617e1d0b0745 # v4.0.2
        with:
          app-id: ${{ secrets.CLIENT_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
      - id: semantic-release
        uses: cycjimmy/semantic-release-action@v6
        with:
          # renovate: datasource=npm depName=semantic-release
          semantic_version: "25.0.2"
          dry_run: ${{ github.ref != 'refs/heads/main' }}
        env: 
          GITHUB_TOKEN: ${{ steps.gh-token-gen.outputs.token }}

  build:
    runs-on: ubuntu-latest
    needs: semantic-release
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: refs/tags/src/v${{ needs.semantic-release.outputs.version }}
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
      - uses: baptiste0928/cargo-install@b687c656bda5733207e629b50a22bf68974a0305 # v3
        with:
          crate: wasm-pack
          # renovate: datasource=crate depName=wasm-pack
          version: "0.13.1"
      - run: wasm-pack build --target=nodejs . --locked
      - run: |
          mkdir -p dist/pkg
          cp -t dist/pkg/ pkg/*.js pkg/*.wasm || true
          cp -t dist/ index.cjs action.yaml LICENSE* *.md || true
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: dist
          path: dist/*

  github-actions-tags:
    runs-on: ubuntu-latest
    needs:
      - build
      - semantic-release
    concurrency:
      group: ${{ github.workflow }}-tag
    steps:
      - id: gh-token-gen
        uses: oakcask/gh-token-gen@d65c585678cb39f009f96046d788617e1d0b0745 # v4.0.2
        with:
          app-id: ${{ secrets.CLIENT_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: github-actions
          fetch-depth: 0
          token: ${{ steps.gh-token-gen.outputs.token }}
      - run: |
          rm -rf $(ls -1)
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: dist
      - run: git diff --stat || true
      - if: ${{ needs.semantic-release.outputs.released }}
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git add .
          git commit -m "chore: v${{ needs.semantic-release.outputs.version }}"
          git push origin github-actions
          git tag -a "v${{ needs.semantic-release.outputs.version }}" -m "v${{ needs.semantic-release.outputs.version }}"
          git push origin "v${{ needs.semantic-release.outputs.version }}"
          git tag -d "v${{ needs.semantic-release.outputs.semver_major }}" || true
          git tag -a "v${{ needs.semantic-release.outputs.semver_major }}" -m "v${{ needs.semantic-release.outputs.semver_major }}"
          git tag -d "v${{ needs.semantic-release.outputs.semver_minor }}" || true
          git tag -a "v${{ needs.semantic-release.outputs.semver_minor }}" -m "v${{ needs.semantic-release.outputs.semver_minor }}"
          git push origin ":v${{ needs.semantic-release.outputs.semver_major }}" || true
          git push origin "v${{ needs.semantic-release.outputs.semver_major }}"
          git push origin ":v${{ needs.semantic-release.outputs.semver_minor }}" || true
          git push origin "v${{ needs.semantic-release.outputs.semver_minor }}"
