name: Test
on:
  pull_request: 
    paths:
      # to debug this workflow
      - .github/workflows/test.yaml
      - macros/**
      - src/**
      - Cargo.lock
      - Cargo.toml
      - rust-toolchain.toml

jobs:
  lint:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-lint-${{ github.ref }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          ref: ${{ github.head_ref }}
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
      - uses: baptiste0928/cargo-install@b687c656bda5733207e629b50a22bf68974a0305 # v3
        with:
          crate: wasm-pack
          version: "0.13.1"
      - run: wasm-pack build --target=nodejs . --locked
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 24.11.1
      - id: generate-token
        run: GITHUB_STATE=${GITHUB_OUTPUT} node index.cjs
        env:
          INPUT_APP-ID: ${{ secrets.CLIENT_ID }}
          INPUT_PRIVATE-KEY: ${{ secrets.PRIVATE_KEY }}
      - run: cargo --locked fmt
      - uses: int128/update-generated-files-action@d9aac571db84cee6c16fa20190621e9deb2bc575 # v2
        with:
          commit-message: "style: `cargo --locked fmt`"
          token: ${{ steps.generate-token.outputs.token }}
      - run: cargo --locked clippy --fix
      - uses: int128/update-generated-files-action@d9aac571db84cee6c16fa20190621e9deb2bc575 # v2
        with:
          commit-message: "fix: `cargo --locked clippy --fix`"
          token: ${{ steps.generate-token.outputs.token }}
      - run: node index.cjs
        env:
          INPUT_APP-ID: ${{ secrets.CLIENT_ID }}
          INPUT_PRIVATE-KEY: ${{ secrets.PRIVATE_KEY }}
          STATE_access_token: ${{ steps.generate-token.outputs.access_token }}
  test:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-test-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
      - uses: baptiste0928/cargo-install@b687c656bda5733207e629b50a22bf68974a0305 # v3
        with:
          crate: wasm-pack
          version: "0.13.1"
      - run: wasm-pack test --node
